import os

from mmar_ptag import LogLevelEnum
from pydantic import BaseModel
from pydantic_settings import BaseSettings, SettingsConfigDict

from mmar_mimpl import SettingsModel

class LoggerConfig(BaseModel):
    level: LogLevelEnum = LogLevelEnum.DEBUG
    name: str = "{{service_name_hyphens}}"


class ConfigServer(SettingsModel):
    max_workers: int = 10
    port: int = {{port}}
    logger: LoggerConfig = LoggerConfig()