from mmar_ptag import deploy_server

from {{service_name_snake}}.config import Config
from {{service_name_snake}}.config_server import ConfigServer
from {{service_name_snake}}.{{service_name_snake}} import {{service_name_pascal}}


def main():
    deploy_server(
        service={{service_name_pascal}},
        config=Config.load,
        config_server=ConfigServer.load,
    )

if __name__ == "__main__":
    main()
