from dishka import make_container
from mmar_mimpl import get_transport

from {{service_name_snake}}.config import Config
from {{service_name_snake}}.config_server import ConfigServer
from {{service_name_snake}}.{{service_name_snake}} import {{service_name_pascal}}
from {{service_name_snake}}.ioc import IOCS

def main():
    container = make_container(*[ioc() for ioc in IOCS])
    config = container.get(Config)
    service = container.get({{service_name_pascal}})

    get_transport().deploy_server(
        service=service,
        config=config,
        config_server=ConfigServer.load,
    )

if __name__ == "__main__":
    main()
