import os

from pydantic import BaseModel


class LoggerConfig(BaseModel):
    level: LogLevelEnum = LogLevelEnum.DEBUG
    name: str = "{{service_name}}"


class ServerConfig(BaseModel):
    max_workers: int = 10
    port: int = 17211


class Config(BaseSettings):
    model_config = SettingsConfigDict(env_nested_delimiter="__", extra="ignore")

    logger: LoggerConfig = LoggerConfig()
    server: ServerConfig = ServerConfig()


def load_config(env_file=None):
    env_file = env_file or os.getenv("ENV_FILE")
    return Config(_env_file=env_file)
