from loguru import logger
from mmar_ptag import grpc_server, init_logger, ptag_attach

from src.{{service_name_snake}} import {{service_name_pascal}}
from src.config import Config, load_config


def main():
    config: Config = load_config()
    init_logger(config.logger.level)
    logger.debug(config)
    service = {{service_name_pascal}}(config)

    server = grpc_server(max_workers=config.server.max_workers, port=config.server.port)
    ptag_attach(server, service)
    server.start()
    logger.info(f"Server started, listening on {config.server.port}")
    server.wait_for_termination()


if __name__ == "__main__":
    main()
