from mmar_ptag import deploy_server

from src.config import Config, load_config
from src.config_server import ConfigServer, load_config_server
from src.{{service_name_snake}} import {{service_name_pascal}}


def main():
    deploy_server(
        service={{service_name_pascal}},
        config=load_config,
        config_server=load_config_server,
    )

if __name__ == "__main__":
    main()
